/* body {
  margin: 0px;
  padding: 0px;
  border: 0;
} */

.home {
  background: url("https://images.pexels.com/photos/2818880/pexels-photo-2818880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
}
